<ion-header>
  <ion-toolbar>
    <ion-title>agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   formulario es valido = {{formulario.valid}}

  <form [formGroup]="formulario" novalidate>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="apellido"></ion-input>
      <ion-note *ngIf="formulario.get('apellido').invalid && formulario.get('apellido').errors && formulario.get('apellido').errors.required && formulario.get('apellido').touched" slot="error">
        El campo es requerido
      </ion-note>
      <ion-note *ngIf="formulario.get('apellido').invalid && formulario.get('apellido').errors && formulario.get('apellido').errors.minlength && formulario.get('apellido').touched" slot="error">
        Los caracteres minimo deben ser 3
      </ion-note>
      <ion-note *ngIf="formulario.get('apellido').invalid && formulario.get('apellido').errors && formulario.get('apellido').errors.maxlength && formulario.get('apellido').touched" slot="error">
        Los caracteres maximos son 15
      </ion-note>
      <!-- {{formulario.get('apellido').errors | json}}
      <br>
      <pre>{{formulario.get('apellido').touched}}</pre>
      <br>
      <pre>{{formulario.get('apellido').dirty}}</pre>
      <br>
      <pre>{{formulario.get('apellido').valid}}</pre> -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">precio</ion-label>
      <ion-input formControlName="precio"></ion-input>
    </ion-item>
  </form>

</ion-content>
