<body>
  <main>
    <div>
      <h1 class="titulo">Golden retriever</h1>
      <p></p>
      <h2 class="subtitulo">El golden retriever o cobrador dorado es una raza de perro que se desarrolló alrededor de 1850 en el Reino Unido</h2>
    </div>
    <br>
    <section>
      <h1>Descripcion</h1>
      <p>
        El golden retriever o cobrador dorado es una raza de perro que se desarrolló alrededor de 1850 en el Reino Unido, más concretamente en Escocia. Con sus características de perro cobrador, sabueso, bloodhound y spaniel de agua, es un hábil perro de caza con aptitudes para el rastreo. Posee una disposición amigable y una actitud que lo ha convertido en una de las razas familiares más populares —mediante registro
      </p>
      <p>
        Cuando la espada estaba en manos del dueño original era de un color blanco
        con una marca negra al medio de la hoja, tambien su empuñadura esta adornada
        con un diseño espiral y en su pomo tiene una esfera, el portador actual de la espada
        ha cambiado su color siendo totalmente negra.
      </p>
      <img [src]="imagen" [height]="defalto" [width]="defancho" (click)="cambiarimagen()">
      <br>
      <h1>Tipos de Golden retriever</h1>
      <h2>Britanico</h2>

      <h4>Preciona para ver el Golden retriever britanico</h4>
      <button [class.boton] (click)="britanico = !britanico"
        [class.britanico] = "britanico"></button>
      <br>
      <h2>Americano</h2>

      <h4>Preciona para ver Golden retriever americano</h4>
      <button [class.boton] (click)="americano = !americano"
        [class.americano] = "americano"></button>

        <h2>canadiense</h2>
        <h4>Preciona para ver Golden retriever canadiense</h4>
      <button [class.boton] (click)="canadiense = !canadiense"
        [class.canadiense] = "canadiense"></button>
      <br>
      <h1>Perrito</h1>
      <p>Coloce la resolucion para ver las imagenes</p>
      <h4>Alto de la imagen</h4>
      <input type="number" [value]="alto" name="alto" (input)="escucharalto($event)">
      <h4>Ancho de la imagen</h4>
      <input type="number" [value]="ancho" name="ancho" (input)="escucharbajo($event)">
      <br>
      <h2>Perrito</h2>
      <img [src]="golden" [height]="alto" [width]="ancho">
      <br>
    </section>
  </main>
</body>
