<body>
  <main>
    <div>
      <h1 class="titulo">Espada de shukuma</h1>
      <p></p>
      <h2 class="breve">Es una espada la cual tiene el poder de cancerlar magia o absorverla</h2>
    </div>
    <br>
    <section>
      <h1>Descripcion</h1>
      <p>
        La espada Shukuma ("Shukuma no tsurugi") es una espada que poose la capacidad
        de absorver la magia del usuario o los hechizos que han sido lanzados al usuario
      </p>
      <p>
        Cuando la espada estaba en manos del dueño original era de un color blanco
        con una marca negra al medio de la hoja, tambien su empuñadura esta adornada
        con un diseño espiral y en su pomo tiene una esfera, el portador actual de la espada
        ha cambiado su color siendo totalmente negra.
      </p>
      <img [src]="imagen" [height]="defalto" [width]="defancho" (click)="cambiarimagen()">
      <br>
      <h1>Habilidades antimagia</h1>
      <h2>Cortes de antimagia</h2>
      <p>
        La habilidad principal de esta arma es que puede lanzar cortes que
        anulan magia a larga distancia, siendo una ventaja ya que el usuario
        actual de la espada solo puede pelear frente a frente
      </p>
      <h4>Preciona para ver ataque</h4>
      <button [class.boton] (click)="ataque1 = !ataque1"
        [class.gif1] = "ataque1"></button>
      <br>
      <h2>Absorver magia</h2>
      <p>
        La otra habilidad la domina mas el segundo usuario, este puede absorver la magia
        de los ataques o la de su alrededor, tambien puede lanzar la magia absorbida
        al hace esto el portador puede combinar su magia con las demas
      </p>
      <h4>Preciona para ver ataque</h4>
      <button [class.boton] (click)="ataque2 = !ataque2"
        [class.gif2] = "ataque2"></button>
        <h4>Preciona para ver segundo ataque</h4>
      <button [class.boton] (click)="ataque3 = !ataque3"
        [class.gif3] = "ataque3"></button>
      <br>
      <h1>Portadores</h1>
      <p>Coloce la resolucion para ver las imagenes</p>
      <h4>Alto de la imagen</h4>
      <input type="number" [value]="alto" name="alto" (input)="escucharalto($event)">
      <h4>Ancho de la imagen</h4>
      <input type="number" [value]="ancho" name="ancho" (input)="escucharbajo($event)">
      <br>
      <h2>Asta</h2>
      <img [src]="prota" [height]="alto" [width]="ancho">
      <br>
      <h2>Licht</h2>
      <img [src]="licht" [height]="alto" [width]="ancho">
      <br>
    </section>
  </main>
</body>
