<h1>Live Reloading</h1>
<p>Es una caracteristicas que nos entrega angular</p>
<p>con su servidor de desarrollo</p>
<font color="red">Solo para desarrollo</font>
<p>como funciona?, haga cambios y guarde :v</p>

<h1>Bienvenido</h1>
<p>1..2..3... probando</p>
<h1>String Interpolations</h1>

<p>
  hola, mi nombre es {{ nombre }} {{ apellido }}
  y estoy vivo? {{ estaVivo }},
  mi edad es de {{ edad }}
  y {{ hobbie }}
</p>

¿tu tienes algo que contarme?
<p>
  La suma de 80 + 1500 es {{ 80 + 1500 }}
</p>

<p>
  Llamar a pipe
  {{ nombre | uppercase }}
  {{ nombre | lowercase }}

</p>

<p>La suma de 1500 + 1200  = {{ sumarDosNumeros (1500,1200) }}</p>
<p>La resta de 1500 - 1200 = {{ restar (1500,1200) }}</p>
<p>La multiplicacion de 1500 * 1200 = {{ multiplicar (1500,1200) }}</p>
